# base.yml - play to install a VM

- name: Set kernel.core_pattern in sysctl
  become: yes
  sysctl:
    name: kernel.core_pattern
    value: /tmp/cores/core.%e.%p.%h.%
    state: present
    reload: yes

- name: base.yml
  hosts: all
  roles:
    - { role:
      geerlingguy.git,
      become: yes,
      git_install_from_source: true,
      git_install_path: "/usr"
      git_install_from_source_force_update: true,
      git_version: "2.22.0",
      tags: ["git"] }
    - { role: ANXS.build-essential, become: yes, tags: ["build-essensial"] }
    - { role: RomanShestakov.ansible-role-common-tools, become: yes, tags: ["build-common"] }
    - { role: RomanShestakov.ansible-role-cmake, cmake_version: 3.8, cmake_minor_version: 2, tags: ["cmake"] }
    - { role: RomanShestakov.ansible-role-gcc, gcc_version: 8.2.0, binutils_version: 2.31, gdb_version: 8.2, tags: ["gcc"] }
    - { role: RomanShestakov.ansible-role-llvm, become: yes, version: release_80, gcc_version: 8.2.0, tags: ["llvm"] }
